asn1crypto==0.24.0
beautifulsoup4==4.6.0
capstone==4.0.1
chardet==3.0.4
cryptography==2.1.4
dicttoxml==1.7.4
dnspython==1.15.0
enum34==1.1.6
future==0.17.1
html5lib==0.999999999
idna==2.6
ipaddress==1.0.17
jsonrpclib==0.1.7
keyring==10.6.0
keyrings.alt==3.0
lxml==4.2.1
mechanize==0.2.5
names==0.3.0
olefile==0.45.1
pefile==2018.8.8
pycrypto==2.6.1
pygobject==3.26.1
PyPDF2==1.26.0
python-magic==0.4.16
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
slowaes==0.1a1
virtualenv==16.6.1
webencodings==0.5
XlsxWriter==0.9.6
