    {% extends 'layout.html'%}
    
    {% block search%}
    <div class="container p-bground"><strong>{{username}}</strong><br><br>
    Vous souhaitez remplacer un aliment? <br>Cliquez sur rechercher:<br>
    </p></div></div></br>

    <form class="form-inline md-form mr-auto mb-4 d-flex justify-content-center" id="mainForm">
    
        <a class="btn btn-primary" href="/categories" role="button">Rechercher</a>
    </form>
    <br>
    <div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body">
          <h5 class="card-title">Vous souhaitez consulter l'historique des recherches?</h5>
          <a class="btn btn-primary" href="/home" role="button">Retrouver mes aliments substitués</a>
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>

    {% endblock search%}