    {% extends 'layout.html'%}
    
    {% block search%}
    <div class="container p-bground"><strong>{{username}}</strong><br><p>Wellcome on the search page.<br>
    Here, you can enter any aliment you want, will try to help you!<br>
    Thanks!</p></div></div></br>

    <form class="form-inline md-form mr-auto mb-4 d-flex justify-content-center" id="mainForm">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
    <br>

    {% endblock search%}